<%= form_for([@post,@post.comments.build]) do |f| %>
	<p>
		<%= f.label :comment %><br>
		<%= f.text_area :comment , placeholder: "Write your comment here..."%>
	</p>
	<p>
		<%= f.submit "Create comment"%> 
	</p>
<% end %>