<h1> Edit Comment </h1>

<%= form_for [@post,@comment] do |f| %>
	<p>
		<%= f.label :comment %><br>
		<%= f.text_area :comment , placeholder: "Write your comment here..."%>
	</p>
	<p>
		<%= f.submit "Update comment"%> 
	</p>
<% end %>